/*organize within blocks by positioning, then display and box model, then other as needed*/

html {
  font-size: 10px;
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
  min-width: 320px;
}

header {
  font-family: "Roboto Slab", serif;
  background-color: #e5f3f2;
  height: 37.5rem;
}

h1, h2, h3 {
  font-family: "Roboto Slab", serif;
}

form {
  height: 200px;
}

h1 {
  font-size: 3rem;
  color: #6d6e71;
  text-align: center;
  padding: 2rem 0 0 0;
}

span {
  color: #00a79d
}

input[type=text],
textarea,
.search-box {
  border: 2px solid #CFD1D3;
}

textarea,
button,
input {
  display: block;
  width: 85%;
  height: 4rem;
  margin: 2rem auto;
  font-size: 2rem;
}

textarea::placeholder,
input::placeholder,
.search-box::placeholder {
  color: #BFC0C2;
  padding-left: 5px;
}

button:hover {
  background-color: #045e55;
}

textarea {
  height: 13rem;
}

button {
  background-color: #00a79d;
  color: #ffffff;
  height:  4.5rem;
  width: 88%;
}

.search-box {
}

/* Styling for the idea divs that are dynamically added */
div {
  width: 85%;
  margin: 25px auto;
}

div h2,
div input {
  display: inline-block;
}

div h2 {
  font-size: 3rem;
  max-width: 80%;
  padding: 0 0 5px 0;
  overflow: scroll;
  font-weight: 700;
}

div h2,
div span {
  color: #6d6e71;
}

div input {
  width: 3rem;
  height: 3rem;
}

.delete-button {
  float: right;
  margin: 0;
}

div p {
  margin: 2rem 0;
  font-size: 2rem;
  color: #939598;
  max-height: 12rem;
  overflow: scroll;

}

.upvote-button,
.downvote-button {
  margin: 0  1rem 0 0;
  vertical-align: middle;
}

div span {
  font-size: 2rem;
  vertical-align: middle;
}

div hr {
  margin-top: 20px;
}

@media screen and (min-width: 500px) {

  html {
    font-size: 11px;
  }

  h1 {
    font-size: 3.5rem;
  }

  button {
    width: 76%;
  }

  .search-box,
  textarea,
  div,
  input[type=text] {
    width: 75%;
  }

}

@media screen and (min-width: 900px) {

  html {
   font-size: 12px;
  }

  h1 {
    font-size: 4rem;
  }

  button {
    width: 52rem;
  }

  .search-box,
  textarea,
  div,
  input[type=text] {
    width: 51rem;
  }

}