html {
  font-size: 10px;
  box-sizing:border-box;
}

header {
  font-family: "Roboto Slab", serif;
  background-color: #e5f3f2;
  height: 60vh;
}

h1 {
  font-size: 5rem;
  color: #6d6e71;
  text-align: center;
  padding: 3rem 0 0 0;
}

span {
  color: #00a79d
}

textarea,
button,
input {
  display: block;
  width: 90%;
  height: 3rem;
  margin: 2rem auto;
}

textarea {
  height: 8rem;
}

button {
  background-color: #00a79d;
  color: #ffffff;
  height: 4rem;
}

.search-box {
  border: 1px solid black;
}

/* Styling for the idea divs that are dynamically added */
div {
  width: 90%;
  margin: auto;
}

div h2,
div input {
  display: inline-block;
}

div h2 {
  font-size: 3rem;
  max-width: 80%;
  overflow: scroll;
}

div h2,
div span {
  color: #6d6e71;
}

div input {
  width: 3rem;
}

.delete-button {
  float: right;
  margin: 0 1rem 0 0;
}

div p {
  margin: 1rem 0;
  font-size: 2rem;
  color: #939598
}

.upvote-button,
.downvote-button {
  margin: 0  1rem 0 0;
  vertical-align: middle;
}

div span {
  font-size: 2rem;
}